@font-face {
  font-family: "suite";
  src: url("/fonts/suite.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "suite";
  font-weight: 600;
}

:root {
  --main-background: #ffffff;
  --sidebar-background: #f7f6f3;
  --hover-background: #ffffff;
  --primary-text: #37352f;
  --gray-text: #787774;
  --brown-text: #9f6b53;
  --orange-text: #d9730d;
  --yellow-text: #cb912f;
  --green-text: #448361;
  --blue-text: #337ea9;
  --purple-text: #9065b0;
  --pink-text: #c14c8a;
  --red-text: #d44c47;
  --gray-background: #f1f1ef;
  --brown-background: #f4eeee;
  --orange-background: #20201f;
  --yellow-background: #fbf3db;
  --green-background: #edf3ec;
  --blue-background: #e7f3f8;
  --purple-background: #f6f3f9;
  --pink-background: #faf1f5;
  --red-background: #fdebec;
  --skeleton-background: linear-gradient(
      120deg,
      #f1f1ef 30%,
      #f7f6f3 38%,
      #f7f6f3 40%,
      #f1f1ef 48%
    )
    200%/200%;
  --skeleton-animation: skeleton-loading 2s infinite;
}
[data-theme="dark"] {
  --main-background: #2f3438;
  --sidebar-background: #373c3f;
  --hover-background: #3f4448;
  --gray-text: #979a9b;
  --brown-text: #937264;
  --orange-text: #ffa344;
  --yellow-text: #ffdc49;
  --green-text: #4dab9a;
  --blue-text: #529cca;
  --purple-text: #9a6dd7;
  --pink-text: #e255a1;
  --red-text: #ff7369;
  --gray-background: #454b4e;
  --brown-background: #594a3a;
  --orange-background: #594a3a;
  --yellow-background: #59563b;
  --green-background: #354c4b;
  --blue-background: #364954;
  --purple-background: #443f57;
  --pink-background: #533b4c;
  --red-background: #594141;
  --skeleton-background: linear-gradient(
    120deg,
    #373c3f 30%,
    #454b4e 38%,
    #454b4e 40%,
    #373c3f 48%
  );
  --skeleton-animation: skeleton-loading 2s infinite;
}

@keyframes skeleton-loading {
  100% {
    background-position: 0%;
  }
}
